@{
    ViewData["Title"] = "Home Page";
}
<div id="homeScreen" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>GESTION STOCK</h1>
        <p>Gestion de stock d’un magasin Des matériels informatiques</p>
        <a class="btn  " asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
</div>
<h3 class="display-4">Réalisé Par:</h3>
<div class="forCards">
    <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">
            <div class="card-front">
                <figure>
                    <div class="img-bg"></div>
                    <img src="~/images/cards/saad.png" />
                    <figcaption>Saad CHIBI</figcaption>
                </figure>
                <p class="text-light">Filière Genie Info </p>
            </div>
            <div class="card-back">
                <figure>
                    <div class="img-bg"></div>
                    <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
                </figure>
                <button>SAAD</button>
                <div class="design-container">
                    <span class="design design--1"></span>
                    <span class="design design--2"></span>
                    <span class="design design--3"></span>
                    <span class="design design--4"></span>
                    <span class="design design--5"></span>
                    <span class="design design--6"></span>
                    <span class="design design--7"></span>
                    <span class="design design--8"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /flip-card-container -->
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 170">
        <div class="flip-card">
            <div class="card-front">
                <figure>
                    <div class="img-bg"></div>
                    <img src="~/images/cards/dinar.png" />
                    <figcaption>Othmane DINAR</figcaption>
                </figure>
                <p class="text-light">Filière Genie Info </p>

            </div>
            <div class="card-back">
                <figure>
                    <div class="img-bg"></div>
                    <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="image-2">
                </figure>
                <button>OTHMANE</button>
                <div class="design-container">
                    <span class="design design--1"></span>
                    <span class="design design--2"></span>
                    <span class="design design--3"></span>
                    <span class="design design--4"></span>
                    <span class="design design--5"></span>
                    <span class="design design--6"></span>
                    <span class="design design--7"></span>
                    <span class="design design--8"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /flip-card-container -->
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 350">
        <div class="flip-card">
            <div class="card-front">
                <figure>
                    <div class="img-bg"></div>
                    <img src="~/images/cards/hosni.png" />
                    <figcaption>Mohammed ELHOUSNI</figcaption>
                </figure>
                <p class="text-light">Filière Genie Info </p>

            </div>
            <div class="card-back">
                <!-- only if the image is necessary -->
                <figure>
                    <div class="img-bg"></div>
                    <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
                </figure>
                <button>SIMO</button>
                <!-- can add svg here and remove these eight spans -->
                <div class="design-container">
                    <span class="design design--1"></span>
                    <span class="design design--2"></span>
                    <span class="design design--3"></span>
                    <span class="design design--4"></span>
                    <span class="design design--5"></span>
                    <span class="design design--6"></span>
                    <span class="design design--7"></span>
                    <span class="design design--8"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-card-container" style="--hue: 350">
        <div class="flip-card">
            <div class="card-front">
                <figure>
                    <div class="img-bg"></div>
                    <img src="~/images/cards/anas.png" />
                    <figcaption>Anas MOUMTAJI</figcaption>
                </figure>
                <p class="text-light">Filière Genie Info </p>

            </div>
            <div class="card-back">
                <!-- only if the image is necessary -->
                <figure>
                    <div class="img-bg"></div>
                    <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Brohm Lake">
                </figure>
                <button>ANAS</button>
                <!-- can add svg here and remove these eight spans -->
                <div class="design-container">
                    <span class="design design--1"></span>
                    <span class="design design--2"></span>
                    <span class="design design--3"></span>
                    <span class="design design--4"></span>
                    <span class="design design--5"></span>
                    <span class="design design--6"></span>
                    <span class="design design--7"></span>
                    <span class="design design--8"></span>
                </div>
            </div>
        </div>
    </div>
</div>